[submodule "Keyboard-Heatmap"]
	path = Keyboard-Heatmap
	url = git://github.com/pa7/Keyboard-Heatmap.git
[submodule "qunit"]
	path = qunit
	url = git://github.com/jquery/qunit.git
[submodule "processing-js"]
	path = processing-js
	url = git://github.com/processing-js/processing-js.git
